.fish-containerd {
    position: relative;
    overflow: hidden;
    width: 100vw; /* Ajuste a largura conforme necessário para acomodar o gif */
    height: 300px;
    background-color: rgb(0, 0, 0);
  }
  
  .fishd {
    position: absolute;
    top: 50%;
    left: 0;
    width: 150px; /* Tamanho original do elemento .fish */
  }
  
  .direita {
    animation: fly-right 100s linear infinite; /* Ajuste a duração conforme necessário */
  }
  
  .esquerda {
    animation: fly-left 30s linear infinite; /* Ajuste a duração conforme necessário */
  }
  
  @keyframes fly-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(100vw + 100px)); /* Valor para percorrer a tela inteira para a direita */
    }
  }
  
  @keyframes fly-left {
    from {
      transform: translateX(calc(100vw + 100px)); /* Valor para iniciar fora da tela à esquerda */
    }
    to {
      transform: translateX(0); /* Voltar à posição original */
    }
  }


  .buttonen{
    background: none;
    border: none;
  }

  .buttonen:hover{
    cursor: pointer;
    background: none;
  }
  
  .bandeira{
    width: 25px;
  }