.fish-container3 {
    position: relative;
    overflow: hidden;
    width: 100vw; /* Ajuste a largura conforme necessário para acomodar o gif */
    height: 200px;
    background-color: rgb(1, 7, 44);
  }
  .fish3 {
    background-color:rgb(1, 7, 44);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100px; /* Tamanho original do elemento .fish */

  }
  
 
  