.fish-container2 {
    position: relative;
    overflow: hidden;
    width: 100vw; /* Ajuste a largura conforme necessário para acomodar o gif */
    height: 350px;
    background-color: rgb(1, 7, 55);
  }
    /* rgb(7, 5, 61); */
  .fish2 {
    background-color: rgb(1, 7, 55);
    position: absolute;
    top: 50%;
    left: 0;
    width: 180px; /* Tamanho original do elemento .fish */

  }
  
 
  